body {
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button {
    cursor: pointer;
    font-family: "Trebuchet MS";
    font-size: 16px;
    border-radius: 3px;
    border: none;
    width: fit-content;
    padding: 8px 16px;
    color: white;
    background: #de4343;
}

button:hover {
    background: #ce3333;
}

button:active {
    background: #be2323;
}

select {
    cursor: pointer;
    font-family: "Trebuchet MS";
    font-size: 16px;
    border-radius: 3px;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-canvas {
    border: 2px solid black;
    border-radius: 3px;
}

#color-name {
    font-size: 18px;
    padding-left: 8px;
}

#layers {
    display: flex;
    flex-direction: column;
}

#layer-list {
    display: flex;
    flex-direction: column;
}

.list-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 3px;
}

.list-item:hover {
    background: #eee;
}

.list-item.selected {
    background: #ccc;
}

.color-icon {
    border: 2px solid black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.color-palette-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#color-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 642px;
}

.palette-color {
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
}

.palette-color:hover {
    background: #eee;
}

.palette-color.selected {
    background: #ccc;
}

.component-colors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}